{% load staticfiles %}

<script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'htd/js/d3.tip.min.js' %}" charset="utf-8"></script>
<script src="{% static 'htd/js/colour_manager.js' %}"></script>
<script src="{% static 'htd/js/treemap_raw.js' %}"></script>
<script src="{% static 'htd/js/treemap_node.js' %}"></script>
<script src="{% static 'htd/js/treemap.js' %}"></script>
<script src="{% static 'htd/js/element_stats.js' %}"></script>
<script src="{% static 'htd/js/bar_plotter.js' %}"></script>
